/* header开始 */
*{
    margin: 0;
    padding: 0;
}
#img_door{
    width: 100%;
    height: 100%;
}
 #top{
     position: relative;
    /* float: left; */
    width: 100%;
    height: 150px;
    border-bottom: 4px solid red;
} 
#top_2{
    position: absolute;
    left: 40px;
    top: 50px;
    width: 40%;
    height: 50px;
    /* background-color: burlywood; */
}
ul,
li {
  margin: 0;
  padding: 0;
}
 #header{
     /* background-color: #3e3a3a; */
    width: 100%;
    height: 40px;
    /* background-image: image("./img/top.jpg"); */
     /* background-color: yellow;  */
} 
nav {
  float: left;
  display: flex;
  width: 100%;
  /* height: 100vh; */
}

ul {

  position: relative;
  display: flex;
}

ul li {
    /* margin-left: 110px; */

  height: 40px;
  list-style: none;
  width: 120px;
  line-height: 40px;
  text-align: center;
}

ul li a {
    font-size: 20px;

  color: rgb(221, 22, 22);
  text-decoration: none;
}

.slider {
  width: 100px;
  height: 40px;
  background-color: #5352ed;
  border-radius: 4px;
  position: absolute;
  z-index: -1;
  transition: all ease 0.4s;
  animation: 2s ease-in-out waves infinite;
}

li:nth-child(1):hover ~ .slider {
  left: 10px;
}

li:nth-child(2):hover ~ .slider {
  left: 128px;
}

li:nth-child(3):hover ~ .slider {
  left: 248px;
}

li:nth-child(4):hover ~ .slider {
  left: 368px;
}

li:nth-child(5):hover ~ .slider {
  left: 488px;
}
li:nth-child(6):hover ~ .slider {
  left: 608px;
  }

@keyframes waves {
  from {
    clip-path: polygon(
      0% 17%,
      9% 10%,
      18% 4%,
      30% 0%,
      43% 1%,
      49% 4%,
      57% 7%,
      66% 10%,
      78% 11%,
      89% 11%,
      96% 9%,
      100% 7%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 4%,
      6% 9%,
      13% 13%,
      23% 15%,
      31% 16%,
      42% 15%,
      49% 13%,
      61% 10%,
      71% 5%,
      81% 3%,
      90% 2%,
      100% 5%,
      100% 100%,
      0% 100%
    );
  }
  to {
    clip-path: polygon(
      0% 17%,
      9% 10%,
      18% 4%,
      30% 0%,
      43% 1%,
      49% 4%,
      57% 7%,
      66% 10%,
      78% 11%,
      89% 11%,
      96% 9%,
      100% 7%,
      100% 100%,
      0% 100%
    );
  }
}
/* headr结束 */


/* 底部盒子开始 */
.footer{
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.522);
    width: 100%;
    height: 500px;
    color: azure;
  }
  .footer-first{
    /* border: 1px solid red; */
    display: flex;
  }
  .footer-second{
    display: flex;
  
  }
  .first-first{
    /* border: 1px solid red; */
    /* height: 20px; */
    width:380px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .first-second{
    font-size: 20px;
    margin-left: 0px;
    margin-top: 10px;
  }
  .footer-second{
    width: 100%;
    height: 500px;
    margin-top: 50px;
  }
  .second-first,.second-second,.second-third{
    /* border: 1px solid red; */
    margin: 2%;
    width: 30%;
    height: 300px;
  }
  .sff,.ssf,.stf{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .sft,.sst,.stt{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .sfs,.sss,.sts{
    width:200px ;
    height: 3px;
    background-color: red;
  }
  .line{
    width: 80%;
    height: 3px;
    background-color: red;
    margin-top: -220px;
    margin-left: 10%;
  }
  .third-first{
    
    margin-top: 20px;
    display: flex;
    flex-wrap:nowrap;
    
  }
  .third-first div{
    margin-left: 50px;
    /* border: 2px solid red; */
    width: 20%;
    height: 20px;
  }
  .third-second{
    margin-top: 30px;
    text-align: center;
  }
  #wellcome_1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    margin-top: 30px;
}
#wellcome_2{
    margin-top: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    color: darkgrey;
}
.center{
    background-color:rgb(191, 216, 242);
    display: flex;
    width:100%;
    /* height: 1000px; */
    /* border: 1px solid red; */
}
.left-box{
    width: 25%;
    height: 100%;
    /* border: 1px solid yellow; */
}
.left-box p{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.medium{
    width: 760px;
    height: 100%;
    /* border: 1px solid black; */
}
.right-box{
    width: 25%;
    height: 100%;
    /* border: 1px solid purple; */
    /* flex-direction:column; */
}
.news{
  width: 100%;
  height: 340px;
  /* border: 2px solid red; */
}
.new{
  width: 100%;
  height: 80px;
  /* border: 2px solid red; */

}
.news-p{
  text-align: center;
  font-size:30px ;
}
.news-eng{
  text-align: center;
  font-size: 25px;
  color: rgb(76, 66, 66);
}
.more{
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.more a{
  text-decoration: none;
} 
.video-2{
  width: 100%;
  height: 330px;
}
.video-1{
  text-align: center;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.video-1 p{
  margin-top: 30px;
  /* margin-bottom: 20px; */
}

.list-a{
  height: 150px;
  /* border: 2px solid rgb(17, 4, 4); */
  padding-left: 20px;
  padding-top: 10px;
}
.list-a a:hover{
  color: blue;
}
.more a:hover{
  color: black;
}
.li-1,.li-2,.li-3,.li-4,.li-5{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  /* border: 1px solid red; */
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
  letter-spacing:5px;
  margin-bottom: 30px;
}
#video{
  /* border: 1px solid red; */
  margin-top: 80px;
  /* margin-right: 20px; */
}
.title{
    width: 100%;
    height: 280px;
    /* border: 1px solid blue; */
}
ul{
    list-style: none;
}
#wrap{
    overflow: hidden;
    position: relative;
    /* 在源代码里面width:100%; */
    width: 760px;
    height: 400px;
    margin: 0px auto 0;
}
#wrap .img-list{
    display: flex;
    position: relative;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}
#wrap .img-list img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#wrap a{
    position: absolute;
    top:50%;
    transform: translate(0,-50%);
    display: block;
    width: 40px;
    height: 70px;
    background-color:#3e3a3a;
    color: red;
    user-select: none;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    text-decoration: none;
}
#wrap a.left{
    left:0;
}
#wrap a.right{
    right: 0;
}
.circle-list{
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
    width: 500px;
    height: 40px;
    z-index: 8;
}
.circle-list>.circle{
    margin: 0 5px;
    width: 40px;
    height: 40px;
    background-color: #eff5f7;
    border-radius: 50%;
}
.circle-list>.circle.active{
    background-color: #e72712;
}




